<h1>Бейджи</h1>

<h2>Все бейджи</h2>
<table class="table">
  <tr>
    <th>Название</th>
    <th>Изображение</th>
  </tr>

  <%= render @badges %>

  <h2>Ваши бейджи</h2>
  <tr>
    <th>Название</th>
    <th>Изображение</th>
  </tr>

  <%= render @awarded_badges %>
</table>