<footer>
  <hr>
  <span>
    <%= current_year %>
    Щеголева Диана
    <p><%= link_to 'TestGuru', github_url('dischglv', 'test-guru') %>
    - приложение для создания и прохождения тестов</p>
    <p>Учебный проект в <%= link_to 'онлайн-школе Thinknetica', 'https://thinknetica.com/' %></p>
  </span>
</footer>