<header>
  <div class="header-name">
    <%= link_to 'TestGuru', root_url %>
  </div>

  <% if user_signed_in? %>
  
    <div class="nav user">
      <p>Добро пожаловать, <b> <%= current_user.email %></b> гуру |
      <%= link_to 'Выход', destroy_user_session_path, method: :delete %></p>
    </div>
  <% end %>
</header>