$failure-color: #f54646;
$success-color: #32a854; 

.success {
  color: $success-color;
  fill: $success-color;
}

.failure {
  color: $failure-color;
  fill: $failure-color;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

