// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$failure-color: #f54646;
$success-color: #32a854; 

.success {
  color: $success-color;
  fill: $success-color;
}

.failure {
  color: $failure-color;
  fill: $failure-color;
}